{% extends "dashboard/base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Reddit Sentiment Dashboard</h1>

  <form action="/dashboard/" method="get">
      <label for="subreddit">Enter Subreddit Name:</label><br>
      <input type="text" id="subreddit" name="subreddit" placeholder="Ex: nfl"
             value="{{ subreddit_name }}">
      <button type="submit">View Sentiment</button>
  </form>

  {% if error %}
    <p class="error">{{ error }}</p>
  {% else %}
  <h2>Analysis of r/{{ summary.subreddit }}</h2>
    <p><strong>Number of Posts: </strong>{{ summary.num_posts }}</p>
    <p><strong>Average Non-Neutral Sentiment: </strong>{{ summary.avg_sentiment }}</p>

    <h3>Top Positive Posts</h3>
    {% for pos_post in summary.top_positive_posts %}
      <div class="Post">{{ pos_post }}</div>
    {% endfor %}

    <h3>Top Negative Posts</h3>
    {% for neg_post in summary.top_negative_posts %}
      <div class="Post">{{ neg_post }}</div>
    {% endfor %}

<form action="{% url 'dashboard' %}" method="get" style="margin-top: 1rem">
  <input type="hidden" name="subreddit" value="{{ summary.subreddit }}">
  <input type="hidden" name="refresh" value="true">
  <button type="submit">Refresh Posts</button>
</form>
  {% endif %}
{% endblock %}
